@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}
header, nav, ul, footer {
    display: flex;
}
header {
    background-image: url(../images/exam-logo-isolated-white-background_681420-5396.jpg);
    width: 100%; 
    height: 500px;
}
nav {
    font-size: 16px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
h1 {
    color: aqua;
    font-size: 48px;
}
h2 {
    color: lightcoral;
    text-align: center;
    font-size: 32px;
}

footer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    height: 150px;
    width: 100%;
}
main {
    display: flex;
    padding: 0px 480px;
    justify-content: center;
}